*{ 
  margin: 0; 
} 
body{ 
  background-color: #000; 
  text-align: center; 
} 
/* .App { 
  text-align: center; 
} */ 
 
.App-logo { 
  height: 40vmin; 
  pointer-events: none; 
} 
@media (prefers-reduced-motion: no-preference) { 
  .App-logo { 
    animation: App-logo-spin infinite 20s linear; 
  } 
} 
.App-header { 
  background-color: #282c34; 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  font-size: calc(10px + 2vmin); 
  color: white; 
} 
.App-link { 
  color: #61dafb; 
} 
@keyframes App-logo-spin { 
  from { 
    transform: rotate(0deg); 
  } 
  to { 
    transform: rotate(360deg); 
  } 
} 
h1{ 
  font-family: "Audiowide", sans-serif; 
  font-weight: 400; 
  font-style: normal; 
  text-align: center; 
  font-size: 50px; 
  margin: 0px auto; 
  margin-bottom: 0px; 
  color: #fff; 
  position: relative; 
  top: -50px; 
  display: inline-block; 
  transition: background 0.3s ease;; 
  background: linear-gradient(90deg, rgb(255, 92, 92), rgb(255, 156, 92), rgb(255, 192, 92)); 
  background-size: 200% 200%; 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: diff-color 3s ease infinite; 
} 
@keyframes diff-color { 
  0% { background-position: 0% 50%; } 
  50% { background-position: 100% 50%; } 
  100% { background-position: 0% 50%; } 
} 
h1::after{ 
  content:""; 
  position: absolute; 
  bottom: -10px; 
  left: 0; 
  width: 100%; 
  height: 3px; 
  background: #ee2222; 
    box-shadow: 0 0 10px 1px #ee2222; 
    transform: scaleX(0); 
    transform-origin: bottom right;  
    transition: transform 0.6s ease; 
} 
h1:hover::after{ 
  transform: scaleX(1);  
  transform-origin: bottom left; 
}